<button vt-button *ngIf="(isAuth$ | async) === false" type="button" (click)="signIn()">
    {{ 'HOME.SIGN_IN' | translate }}
</button>

<ng-container *ngIf="(userContext$ | async) as userContext">
    <h1 class="header">{{ 'HOME.HELLO' | translate }} {{ userContext.firstName }}</h1>
    <button vt-button type="button" (click)="goToMyProfile()">{{ 'HOME.MY_PROFILE' | translate }}</button>
</ng-container>

<button vt-button *ngIf="isAuth$ | async" (click)="signOut()">{{ 'HOME.SIGN_OUT' | translate }}</button>